<div class="d-flex mt-3">
    <h4 class="text-green font-30"><b>Popular Destinations</b></h4>
</div>
<div class="row list-card mt-3">
    <div class="col">
        <div class="card bg-transparent border-0">
            <div id="image-div">
                <div class="d-flex align-self-end flex-column h-inherit justify-content-end m-2">
                    <h6 class="text-white mb-0 font-weight-bolder font-18">Country, Here</h6>
                    <p class="text-white">10 Places</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-transparent border-0">
            <div id="image-div">
                <div class="d-flex align-self-end flex-column h-inherit justify-content-end m-2">
                    <h6 class="text-white mb-0 font-weight-bolder font-18">Country, Here</h6>
                    <p class="text-white">10 Places</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-transparent border-0">
            <div id="image-div">
                <div class="d-flex align-self-end flex-column h-inherit justify-content-end m-2">
                    <h6 class="text-white mb-0 font-weight-bolder font-18">Country, Here</h6>
                    <p class="text-white">10 Places</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-transparent border-0">
            <div id="image-div">
                <div class="d-flex align-self-end flex-column h-inherit justify-content-end m-2">
                    <h6 class="text-white mb-0 font-weight-bolder">Country, Here</h6>
                    <p class="text-white">10 Places</p>
                </div>
            </div>
        </div>
    </div>
</div>
