<div id="main-div">
    <div class="d-flex flex-row">


        <app-side-menu id="main-left-div" class="p-0"></app-side-menu>


        <div id="main-right-div" class="d-flex flex-column p-0">
            <div class="m-5">
                <app-home-page></app-home-page>
            </div>
            <app-footer></app-footer>
        </div>


    </div>
</div>